# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/
[Bb]uild/
[Ll]og/
*.log

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
*.nuspec
project.lock.json
project.fragment.lock.json

# DotCover
.idea/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Rider
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Windows image file caches
Thumbs.db
ehthumbs.db

# VS Code
.vscode/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Service publish folders
PublishProfiles/
*.Publish.xml

# Others
*.pdb
*.cache
*.zip
*.bak
*.tmp
*.log

# IIS / Web
project.lock.json
