@model PDFProcessor.Models.Dockey

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Dockey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DocName" class="control-label"></label>
                <input asp-for="DocName" class="form-control" />
                <span asp-validation-for="DocName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeyStone" class="control-label"></label>
                <input asp-for="KeyStone" class="form-control" />
                <span asp-validation-for="KeyStone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
